body {
  background-color: hsl(217, 19%, 24%);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(217, 19%, 38%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 40%;
  padding: 30px;
}

.advice-id {
  padding-bottom: 15px;
  color: hsl(150, 100%, 66%);
  max-width: 100%;
}

.advice {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  max-width: 100%;
}

.divider {
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 100%;
}

.refresh-btn {
  background-color: hsl(150, 100%, 66%);
  border-radius: 20px;
  border: none;
  padding: 8px;
  margin-top: -30px;
  cursor: pointer;
}

.refresh-btn:hover {
  box-shadow: 0 5px 50px hsl(150, 100%, 66%);
}

.attribution {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: hsl(193, 38%, 86%);
}

.attribution a {
  text-decoration: none;
  color: hsl(150, 100%, 66%);
}

@media only screen and (max-width: 415px) {
  body {
    overflow: visible;
  }

  .advice {
    font-size: 15px;
  }

  .attribution {
    font-size: 10px;
  }

}